@import './normalize/normalize.scss';
@import './components/button.scss';
@import './variable.scss';
@import './views/books.scss';
.header {
	background-color: $secondColor;
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 109px;
		&-left {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 2.375rem;
			&__icons {
				display: flex;
				gap: 0.625rem;
				@media screen and (max-width: 1200px) {
					display: none;
				}
				.icons-wrapper {
					padding: 16px;
					background-color: #fff;

					img {
						background-color: #fff;
						width: 15px;
						height: 15px;
					}
				}
			}
		}
		&-right {
			display: flex;
			align-items: center;
			gap: 3.188rem;
			@media screen and (max-width: 992px) {
				display: none;
			}
			ul {
				display: flex;
				gap: 3rem;

				li {
					a {
						color: $mainColor;
						font-family: 'Inter';
						font-weight: 400;
						font-size: 17px;
						line-height: 26px;
						letter-spacing: 0.17px;
						&:focus {
							color: $thirdColor;
						}
					}
					.child {
						margin-right: 12px;
					}
				}
			}
		}
		&-mobile {
			display: none;
			position: absolute;
			width: 100%;
			height: auto;
			background-color: $secondColor;
			color: #fff;
			padding: 1rem 0;
			left: 0;
			top: 109px;
			transition: 0.2s ease-in;
			ul {
				text-align: center;
				li {
					padding: 1rem 0;
				}
				hr {
					width: 40%;
					margin: 0 auto;
				}
			}
		}
		.mobile-icons {
			display: none;
			align-items: center;
			justify-content: center;
			gap: 50px;
			margin-top: 20px;
			@media screen and (max-width: 1200px) {
				display: flex;
			}
			img {
				background-color: #fff;
				padding: 15px;
			}
		}
		.hamb {
			@media screen and (max-width: 992px) {
				display: flex;
				align-items: center;
			}
			.hamb__field {
				cursor: pointer;
				.bar {
					@media screen and (max-width: 992px) {
						display: block;
						width: 30px;
						height: 3px;
						margin: 6px auto;
						background-color: #fff;
						transition: 0.2s ease-in;
					}
				}
				&.active {
					.bar {
						transition: transform 0.2s ease-in;
						&:first-child {
							transform: rotate(45deg) translate(0, 12.5px);
						}
						&:nth-child(2) {
							opacity: 0;
						}
						&:nth-child(3) {
							transform: rotate(-45deg) translate(0, -12.5px);
						}
					}
				}
			}
		}
	}
	.main-page {
		margin-top: 7.563rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__left {
			h4 {
				font-weight: 400;
				font-size: 1.313rem;
				line-height: 2.25rem;
				letter-spacing: 1.2px;
				text-transform: capitalize;
				color: #ffffff;
			}
			h1 {
				font-weight: 400;
				font-size: 4rem;
				line-height: 4.625rem;
				letter-spacing: 1.3px;
				color: #ffffff;
				margin: 0.938rem 0 1.75rem 0;
			}
			&__subtitle {
				p {
					font-weight: 400;
					font-size: 1.125rem;
					line-height: 1.75rem;
					color: #b4c7e7;
				}
				margin-bottom: 2.188rem;
			}
			&__btn {
				span {
					margin-left: 3.188rem;
					font-weight: 400;
					font-size: 1.188rem;
					line-height: 1.875rem;
					letter-spacing: 0.38px;
					text-transform: capitalize;
					color: #ffffff;
				}
			}
			&__info {
				margin-top: 2.5rem;
				display: flex;
				gap: 3.75rem;
				.pages-info {
					span {
						font-weight: 400;
						font-size: 1.5rem;
						line-height: 1.813rem;
						letter-spacing: 0.48px;
						color: #ffffff;
						&::before {
							content: '';
							width: 1rem;
							height: 1rem;
							border-radius: 50%;
							background: $thirdColor;
							display: inline-block;
							margin-right: 0.625rem;
						}
					}
					&-right {
						display: flex;
						align-items: center;
						gap: 3.188rem;
						@media screen and (max-width: 992px) {
							display: none;
						}
						ul {
							display: flex;
							gap: 3rem;

							li {
								a {
									color: $mainColor;
									font-family: 'Inter';
									font-weight: 400;
									font-size: 17px;
									line-height: 26px;
									letter-spacing: 0.17px;
									&:focus {
										color: $thirdColor;
									}
								}
								.child {
									margin-right: 12px;
								}
							}
						}
					}
				}
			}
		}
	}
}
