* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "Cardo", serif;
}

::before,
::after {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem 1.5rem;
}

.btn {
  padding: 1.125rem 3.25rem;
  background-color: #ffca42;
  border: none;
  color: #1b3764;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.57px;
  white-space: nowrap;
}
.btn:hover {
  background-color: #fff;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
@media screen and (max-width: 992px) {
  .btn {
    padding: 1rem 2.5rem;
  }
}

.books {
  background-color: #fff;
  margin-top: 7.875rem;
}
@media screen and (max-width: 768px) {
  .books {
    margin-top: 3rem;
  }
}
.books .container h2 {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.375rem;
  letter-spacing: 0.32px;
  color: #1b3764;
  text-align: center;
  margin-bottom: 1.438rem;
}
.books .container hr {
  background-color: #ffca42;
  width: 50px;
  margin: 0 auto;
  border: #ffca42 1px solid;
  margin-bottom: 4.375rem;
}
@media screen and (max-width: 576px) {
  .books .container hr {
    margin: 10px auto;
  }
}
.books .container .authors-books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .books .container .authors-books {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.875rem;
  }
}
.books .container .authors-books__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .books .container .authors-books__first {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.books .container .authors-books__first img {
  max-width: 285px;
  width: 100%;
}
.books .container .authors-books__first .about-book {
  max-width: 287px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .books .container .authors-books__first .about-book {
    text-align: center;
  }
}
.books .container .authors-books__first .about-book h4 {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.375rem;
  letter-spacing: 0.32px;
  color: #1b3764;
  margin-bottom: 7px;
}
.books .container .authors-books__first .about-book p {
  font-weight: 400;
  font-size: 1.313rem;
  line-height: 2.063rem;
  color: #ffca42;
  margin-bottom: 1rem;
}
.books .container .authors-books__first .about-book span {
  font-weight: 400;
  font-size: 1.188rem;
  line-height: 1.75rem;
  color: #969aa0;
}
.books .container .authors-books__first .about-book .book-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 13px;
  margin-bottom: 1.688rem;
}
@media screen and (max-width: 992px) {
  .books .container .authors-books__first .about-book .book-type {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.books .container .authors-books__first .about-book .book-type .circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background-color: #ffca42;
}
.books .container .authors-books__first .about-book .book-type span {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.813rem;
  color: #1b3764;
}
.books .container .authors-books__first .about-book .empty-btn {
  padding: 1.125rem 3.25rem;
  border: 2px #ffca42 solid;
  color: #1b3764;
  font-weight: 400;
  font-size: 1.188rem;
  line-height: 1.75rem;
  letter-spacing: 0.57px;
  background: none;
}
.books .container .authors-books__first .about-book .empty-btn:hover {
  background-color: #ffca42;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "Cardo", serif;
}

::before,
::after {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem 1.5rem;
}

.btn {
  padding: 1.125rem 3.25rem;
  background-color: #ffca42;
  border: none;
  color: #1b3764;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.57px;
  white-space: nowrap;
}
.btn:hover {
  background-color: #fff;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
@media screen and (max-width: 992px) {
  .btn {
    padding: 1rem 2.5rem;
  }
}

.header {
  background-color: #1b3764;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 109px;
}
.header .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.375rem;
}
.header .nav-left__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}
@media screen and (max-width: 1200px) {
  .header .nav-left__icons {
    display: none;
  }
}
.header .nav-left__icons .icons-wrapper {
  padding: 1rem;
  background-color: #fff;
}
.header .nav-left__icons .icons-wrapper img {
  background-color: #fff;
  width: 15px;
  height: 15px;
}
.header .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.188rem;
}
@media screen and (max-width: 992px) {
  .header .nav-right {
    display: none;
  }
}
.header .nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.header .nav-right ul li a {
  color: #f6f8fc;
  font-weight: 400;
  font-size: 1.063rem;
  line-height: 1.625rem;
  letter-spacing: 0.17px;
}
.header .nav-right ul li a:focus {
  color: #ffca42;
}
.header .nav-right ul li .child {
  margin-right: 0.75rem;
}
.header .nav-mobile {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #1b3764;
  color: #fff;
  padding: 1rem 0;
  left: 0;
  top: 109px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.header .nav-mobile ul {
  text-align: center;
}
.header .nav-mobile ul li {
  padding: 1rem 0;
}
.header .nav-mobile ul hr {
  width: 40%;
  margin: 0 auto;
}
.header .nav .mobile-icons {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.125rem;
  margin-top: 1.25rem;
}
@media screen and (max-width: 1200px) {
  .header .nav .mobile-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header .nav .mobile-icons img {
  background-color: #fff;
  padding: 15px;
}
@media screen and (max-width: 992px) {
  .header .nav .hamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header .nav .hamb .hamb__field {
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .header .nav .hamb .hamb__field .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
}
.header .nav .hamb .hamb__field.active .bar {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.header .nav .hamb .hamb__field.active .bar:first-child {
  -webkit-transform: rotate(45deg) translate(0, 12.5px);
          transform: rotate(45deg) translate(0, 12.5px);
}
.header .nav .hamb .hamb__field.active .bar:nth-child(2) {
  opacity: 0;
}
.header .nav .hamb .hamb__field.active .bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(0, -12.5px);
          transform: rotate(-45deg) translate(0, -12.5px);
}
.header .main-page {
  margin-top: 7.563rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4.688rem;
}
@media screen and (max-width: 768px) {
  .header .main-page {
    display: block;
    text-align: center;
    margin-top: 3rem;
  }
}
.header .main-page__left h4 {
  font-weight: 400;
  font-size: 1.313rem;
  line-height: 2.25rem;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  color: #ffffff;
}
.header .main-page__left h1 {
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.625rem;
  letter-spacing: 1.3px;
  color: #ffffff;
  margin: 0.938rem 0 1.75rem 0;
}
@media screen and (max-width: 992px) {
  .header .main-page__left h1 {
    font-size: 3rem;
  }
}
.header .main-page__left__subtitle {
  margin-bottom: 2.188rem;
}
.header .main-page__left__subtitle p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #b4c7e7;
}
.header .main-page__left__btn span {
  margin-left: 3.188rem;
  font-weight: 400;
  font-size: 1.188rem;
  line-height: 1.875rem;
  letter-spacing: 0.38px;
  text-transform: capitalize;
  color: #ffffff;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header .main-page__left__btn span {
    display: none;
  }
}
.header .main-page__left__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.75rem;
}
@media screen and (max-width: 768px) {
  .header .main-page__left__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .header .main-page__left__info {
    display: none;
  }
}
.header .main-page__left__info .ratings {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.header .main-page__left__info .ratings .circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background-color: #ffca42;
  position: relative;
  top: 6px;
}
.header .main-page__left__info .ratings .pages p {
  font-family: "Cardo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.813rem;
  letter-spacing: 0.48px;
  color: #ffffff;
}
.header .main-page__left__info .ratings .pages span {
  font-weight: 400;
  font-size: 1.063rem;
  line-height: 1.688rem;
  color: #b4c7e7;
}
.header .main-page__left .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}
@media screen and (max-width: 768px) {
  .header .main-page__left .welcome {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header .main-page__left .welcome hr {
  background-color: #ffca42;
  width: 35px;
  height: 2px;
  margin: auto 0;
  border: #ffca42 1px solid;
}
.header .main-page__right img {
  max-width: 592px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header .main-page__right img {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "Cardo", serif;
}

::before,
::after {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem 1.5rem;
}

.btn {
  padding: 1.125rem 3.25rem;
  background-color: #ffca42;
  border: none;
  color: #1b3764;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.57px;
  white-space: nowrap;
}
.btn:hover {
  background-color: #fff;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
@media screen and (max-width: 992px) {
  .btn {
    padding: 1rem 2.5rem;
  }
}

.garanties {
  margin-top: 6.875rem;
}
.garanties .garanties-main h2 {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 2.625rem;
  line-height: 3.125rem;
  text-align: center;
  text-transform: capitalize;
  color: #1b3764;
}
.garanties .garanties-main hr {
  background-color: #ffca42;
  width: 50px;
  margin: 0 auto;
  border: #ffca42 1px solid;
  margin-bottom: 4.375rem;
  margin-top: 1.438rem;
  margin-bottom: 3.125rem;
}
.garanties .garanties-main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 992px) {
  .garanties .garanties-main__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.garanties .garanties-main__info .garant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 313px;
  width: 100%;
  gap: 1.188rem;
}
.garanties .garanties-main__info .garant span {
  font-family: "Cardo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.813rem;
  text-align: center;
  color: #1b3764;
}
.garanties .garanties-main__info .garant p {
  font-weight: 400;
  font-size: 1.188rem;
  line-height: 1.75rem;
  text-align: center;
  color: #969aa0;
}

.about_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 162px;
  margin-top: 260px;
}
.about_author-left img {
  position: relative;
  top: -85px;
}
.about_author-right h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  text-transform: capitalize;
  color: #1b3764;
}
.about_author-right .title {
  font-weight: 400;
  font-size: 19px;
  line-height: 34px;
  color: #969aa0;
  margin: 59px 0 34px 0;
}
.about_author-right__books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 46px;
}
.about_author-right__books__info span {
  font-weight: 400;
  font-size: 54px;
  line-height: 77px;
  color: #1b3764;
}
.about_author-right__books__info p {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #969aa0;
}
.about_author-right-qrcode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  width: 484px;
  height: 161px;
  background: #1b3764;
  margin-top: 55px;
}
.about_author-right-qrcode img {
  margin: 15px 0 16px 20px;
}
.about_author-right-qrcode-title h5 {
  max-width: 216px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffca42;
}
.about_author-right-qrcode-title p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.19px;
  color: #b4c7e7;
}