@import '../variable.scss';
.about_author {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10.125rem;
	margin-top: 16.25rem;
	@media screen and (max-width: 1200px) {
		display: block;
	}
	@media screen and (max-width: 768px) {
		margin-top: 8.125rem;
	}
	&-left {
		img {
			@media screen and (max-width: 1200px) {
				display: none;
			}
		}
	}
	&-right {
		h2 {
			font-weight: 400;
			font-size: 2.625rem;
			line-height: 3.125rem;
			text-transform: capitalize;
			color: $secondColor;
			@media screen and (max-width: 576px) {
				text-align: center;
			}
		}
		hr {
			background-color: $thirdColor;
			width: 50px;
			margin-top: 1.438rem;
			margin-bottom: 2.063rem;
			border: $thirdColor 1px solid;
			@media screen and (max-width: 576px) {
				margin-left: auto;
				margin-right: auto;
			}
		}
		.title {
			font-weight: 400;
			font-size: 1.188rem;
			line-height: 2.125rem;
			color: #969aa0;
			margin: 3.688rem 0 2.125rem 0;
			@media screen and (max-width: 576px) {
				text-align: center;
			}
		}
		&__books {
			display: flex;
			gap: 2.875rem;
			justify-content: space-between;

			&__info {
				@media screen and (max-width: 576px) {
					text-align: center;
				}
				span {
					font-weight: 400;
					font-size: 3.375rem;
					line-height: 4.813rem;
					color: $secondColor;
				}
				p {
					font-weight: 400;
					font-size: 1.063;
					line-height: 1.375rem;
					color: #969aa0;
				}
			}
		}
		&-qrcode {
			display: flex;
			align-items: center;
			gap: 2.5rem;
			background: $secondColor;
			margin-top: 4.063rem;
			padding: 15px;
			@media screen and (max-width: 768px) {
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
			}
			img {
			}
			&-title {
				@media screen and (max-width: 768px) {
					text-align: center;
				}

				h5 {
					font-weight: 400;
					font-size: 1.375rem;
					line-height: 1.625rem;
					color: #ffca42;
				}
				p {
					font-weight: 400;
					font-size: 1.125rem;
					line-height: 1.75rem;
					letter-spacing: 0.19px;
					color: #b4c7e7;
				}
			}
		}
	}
}
