.books {
  background-color: #fff;
}
.books .container h2 {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.375rem;
  letter-spacing: 0.32px;
  color: #1b3764;
  text-align: center;
  margin-bottom: 1.438rem;
}
.books .container hr {
  background-color: #ffca42;
  width: 50px;
  margin: 0 auto;
  border: #ffca42 1px solid;
  margin-bottom: 70px;
}
@media screen and (max-width: 576px) {
  .books .container hr {
    margin: 10px auto;
  }
}
.books .container .authors-books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .books .container .authors-books {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.books .container .authors-books__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .books .container .authors-books__first {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.books .container .authors-books__first img {
  max-width: 285px;
  width: 100%;
}
.books .container .authors-books__first .about-book {
  max-width: 287px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .books .container .authors-books__first .about-book {
    text-align: center;
  }
}
.books .container .authors-books__first .about-book h4 {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.375rem;
  letter-spacing: 0.32px;
  color: #1b3764;
  margin-bottom: 7px;
}
.books .container .authors-books__first .about-book p {
  font-weight: 400;
  font-size: 1.313rem;
  line-height: 2.063rem;
  color: #ffca42;
  margin-bottom: 1rem;
}
.books .container .authors-books__first .about-book span {
  font-weight: 400;
  font-size: 1.188rem;
  line-height: 1.75rem;
  color: #969aa0;
}
.books .container .authors-books__first .about-book .book-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 13px;
  margin-bottom: 27px;
}
@media screen and (max-width: 992px) {
  .books .container .authors-books__first .about-book .book-type {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.books .container .authors-books__first .about-book .book-type .circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background-color: #ffca42;
}
.books .container .authors-books__first .about-book .book-type span {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.813rem;
  color: #1b3764;
}
.books .container .authors-books__first .about-book .empty-btn {
  padding: 1.125rem 3.25rem;
  border: 2px #ffca42 solid;
  color: #1b3764;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.57px;
  background: none;
}
.books .container .authors-books__first .about-book .empty-btn:hover {
  background-color: #ffca42;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: #fff;
}