@import '../variable.scss';
@import '../components/button.scss';
.knoweledge {
	margin-top: 255px;
	@media screen and (max-width: 768px) {
		margin-top: 120px;
	}
	.knoweledge-main {
		h2 {
			font-family: $font;
			font-weight: 400;
			font-size: 42px;
			line-height: 50px;
			text-align: center;
			text-transform: capitalize;
			color: $secondColor;
		}
		hr {
			background-color: $thirdColor;
			width: 50px;
			margin: 0 auto;
			border: $thirdColor 1px solid;
			margin-top: 23px;
			margin-bottom: 70px;
		}
		&__items {
			display: flex;
			gap: 100px;
			justify-content: center;
			flex-wrap: wrap;
			@media screen and (max-width: 768px) {
				text-align: center;
			}
			.chapters {
				max-width: 480px;
				width: 100%;
				h4 {
					font-family: $font;
					font-weight: 400;
					font-size: 24px;
					line-height: 29px;
					color: $secondColor;
					margin-bottom: 21px;
				}
				p {
					font-weight: 400;
					font-size: 19px;
					line-height: 32px;
					color: #969aa0;
				}
				&-pages {
					display: flex;
					gap: 45px;
					margin-top: 10px;
					@media screen and (max-width: 768px) {
						justify-content: center;
					}
					&__page {
						display: flex;
						align-items: center;
						gap: 10px;
						@media screen and (max-width: 576px) {
							flex-wrap: wrap;
							justify-content: center;
						}
						.circle {
							width: 16px;
							height: 16px;
							border-radius: 50%;
							border: none;
							background-color: $thirdColor;
						}
						span {
							font-weight: 400;
							font-size: 22px;
							line-height: 31px;
							color: $secondColor;
						}
						p {
							font-weight: 400;
							font-size: 17px;
							line-height: 27px;
							color: #969aa0;
						}
					}
				}
			}
		}
		.trial {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 60px;

			p {
				font-weight: 400;
				font-size: 18px;
				line-height: 28px;
				text-align: center;
				color: #969aa0;
				max-width: 320px;
				width: 100%;
				margin-top: 34px;
				span {
					font-weight: 400;
					font-size: 18px;
					line-height: 28px;
					text-align: center;
					letter-spacing: 0.19px;
					color: #1b3764;
				}
			}
		}
	}
}
