@import "../variable.scss";
.learn {
  .container {
    h2 {
      font-weight: 400;
      font-size: 42px;
      line-height: 50px;
      text-align: center;
      text-transform: capitalize;
      color: $secondColor;
      margin: 140px 0 60px 0;
    }
    .learn-main {
      display: flex;
      align-items: center;
      gap: 126px;

      &__left {
        &-items {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          &__title {
            width: 303px;
            height: 272px;
            background: #F4F8FF;
            max-width: 229px;
            width: 100%;
            .circle {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background: $thirdColor;
                margin: 30px 223px 30px 30px;
              span {
                font-weight: 400;
                font-size: 23px;
                line-height: 29px;
                color: $secondColor;
                position: relative;
                top: 10px;
                left: 13px;
              }
            }

            p {
              font-weight: 400;
              font-size: 24px;
              line-height: 34px;
              color: $secondColor;
            }
          }
        }
      }
    }
  }
}
